.background {
  viewport-fill: black;
}
.firstFade{
  
}

#myLabel {
  font-size: 100;
  font-weight: bold;
  font-family: Colfax-Medium;
  text-length: 80;
  text-anchor: middle;
  x: 50%;
  y: 0%+80;
  fill: #f8fcf8;
}

#myDate {
  font-size: 35;
  font-family: Colfax-Regular;
  text-length: 40;
  text-anchor: middle;
  x: 50%;
  y: 0%+131;
  fill: #707070;
}

#mySteps {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 0%+40;
  y: 235;
  fill: #f8fcf8;
}

#myStairs {
  font-size: 28;
  font-family: System-Regular;
  text-length: 30;
  text-anchor: middle;
  x: 25%+20;
  y: 188;
  fill: #f8fcf8;
}


#myCals {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: middle;
  x: 50%;
  y: 235;
  fill: #f8fcf8;
}

#myMins {
  font-size: 28;
  font-family: System-Regular;
  text-length: 30;
  text-anchor: middle;
  x: 75%-17;
  y: 188;
  fill: #f8fcf8;
}


#myHR {
  font-size: 28;
  font-family: System-Regular;
  text-length: 80;
  text-anchor: end;
  x: 100%-20;
  y: 235;
  fill: #f8fcf8;
}